.cart_wrapper {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  border: .1px solid #eee;
  overflow: hidden;
}

.cart_container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.cart_items {
  flex: 1;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-direction: column;
}


/*  Item Components*/
.item_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: .1rem solid #b5c0d0;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.item_info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.item_title {
  width: 7rem;
}

.item_image {
  width: 7rem;
  height: 8rem;
  display: flex;
  align-items: center;
}

.item_image img {
  width: 5rem;
}

.item_quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item_remove {
  color: #ff0000;
}

.item_quantity,
.item_remove {
  cursor: pointer;
}

/*  if cart is empty */

.no_item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
}
/*  Summary Components   */

.cart_summary {
  width: 22rem;
  background-color: #b5c0d0;
  padding: 3rem;
  border-radius: .4rem;
}

.summary_title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.summary_total,
.summary_total_tax,
.summary_total_quantity,
.summary_total_amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1rem;
}

.summary_total span,
.summary_total_tax span,
.summary_total_quantity span,
.summary_total_amount span {
  color: rgb(255, 255, 255);
}

.summary_total_amount {
  margin-top: 4rem;
}

.check_out_btn {
  width: 100%;
  background-color: #fff;
  color: #b5c0d0;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-weight: 500;
  border-radius: .4rem;
  cursor: pointer;
}